* {
    box-sizing: border-box;
}

header nav.navigation {
    height: auto;
    box-shadow: 0 3px 3px 3px #ccc;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

header nav.navigation span {
    font-size: 30px;
    font-weight: 500;
    color: #444;
    margin: auto 20px;
}

header nav.navigation ul {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto 20px;
}

header nav.navigation ul li {
    list-style: none;
    margin: auto 20px;
    color: #444;
    font-weight: 700;
    font-size: 14px;
}

header nav.navigation ul li.current {
    font-weight: bolder;
    color: #111;
}


header nav.navigation ul li a {
    text-decoration: none;
    color: #444;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15vh;
}

main div.items {
    width: 33%;
    height: 20vh;
    margin-top: 2vh;
    box-shadow: 0 3px 3px 3px #ccc;
}

footer.footer {
    display: flex;
    /* justify-content: space-between; */
    background-color: #444;
    color: #fff;
    box-sizing: border-box;
    margin-left: -20px;
    margin-right: -20px;
    height: 30vh;
}

footer.footer div.logo {
    width: 23%;
}


footer.footer div.logo span {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 500;
}

footer.footer div.list {
    width: 40%;
    margin-top: 15px;
}

footer.footer div.list ul li {
    list-style: none;
    line-height: 1.5rem;
    font-weight: bold;
}

footer.footer div.form {
    margin-top: 15px;
}

footer.footer div.form input {
    background-color: #333;
    width: 120%;
    height: 4vh;
}

footer.footer div.form input::placeholder {
    color: #fff;
}

footer.footer div.form button {
    width: 12vw;
    background-color: #0870f8;
    color: #fff;
}